# 由 .ignore 支持插件创建 (hsz.mobi)
### Node 模板
# 日志
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 运行时数据
pids
*.pid
*.seed
*.pid.lock

# jscoverage/JSCover 生成的工具化库的目录
lib-cov

# istanbul等工具使用的覆盖目录
coverage

# nyc测试覆盖率
.nyc_output

# Grunt 中间存储器 (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower 依赖目录 (https://bower.io/)
bower_components

# node-waf 配置
.lock-wscript

# 编译二进制地址 (https://nodejs.org/api/addons.html)
build/Release

# 依赖目录
node_modules/
jspm_packages/

# TypeScript v1 声明文件
typings/

# 可选的npm缓存目录
.npm

# 可选的eslint缓存
.eslintcache

# 可选的REPL历史
.node_repl_history

# 'npm pack'的输出
*.tgz

# Yarn 完整性文件
.yarn-integrity

# dotenv 环境变量文件
.env

# parcel-bundler 缓存 (https://parceljs.org/)
.cache

# next.js build 输出
.next

# nuxt.js build 输出
.nuxt

# Nuxt 生成
dist

# vuepress build 输出
.vuepress/dist

# Serverless 目录
.serverless

# IDE
.idea

package-lock.json